.hero {
  background-size: cover;
  background: url('https://picsum.photos/2000') no-repeat center;
  height: 350px;
  margin: 20px 0;
}
.cards {
  display:flex;
}

.button {
  padding: 0.3em;
  margin: 3px;
  cursor: pointer
}
